---
layout: archive
title: "Teaching and Mentoring"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h1>Mentoring</h1>
<ul>
    <li><strong>Haoqun Cao</strong> (2023) — UCInspire: Semi-Markov Modeling and Change-Point Detection for Maternal Sleep-Stage Trajectories</li>
    <li><strong>Xieqing Yu</strong> (2023) — UCInspire: Semi-Markov Proportional-Hazards Modeling of Maternal Sleep-Stage Trajectories</li>
    <li><strong>Zhuojiao Dong</strong> (2022) — STATS 199: Deep Learning Models for Health and Stress Prediction</li>
    <li><strong>Yiting Wang</strong> (2022) — Dementia Family Caregiver Support Study: Data Management</li>
    <li><strong>Yiheng Wei</strong> (2022) — Dementia Family Caregiver Support Study: Garmin Wearable-Data Analysis</li>
    <li><strong>Haochen Tan</strong> (2022) — STATS 199: Deep Learning Models for Health and Stress Prediction</li>
    <li><strong>Ruxi Zheng</strong> (2022) — STATS 199: Deep Learning Models for Health and Stress Prediction</li>
</ul>
